{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "settings": {
    "import/extensions": [
      ".js",
      ".ts"
    ],
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".ts"
        ]
      }
    }
  },
  "rules": {
    "import/extensions": [
      "error", "always",
      {
        "js": "never",
        "ts": "never"
      }
    ],
  },
  "overrides": [
    {
      "files": ["**/*.ts"],
      "parser": "@typescript-eslint/parser",
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
      ],
      "plugins": [
        "@typescript-eslint"
      ]
    }
  ]
}