mixin arrow-right(color)
  span.arrow.right
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 71.451 29.503">
      <path d="M199,2638.7h70.536L251.1,2609.97" transform="translate(-199 -2609.7)" fill="none" stroke="#{color}" stroke-width="1"/>
    </svg>

mixin arrow-left(color)
  span.arrow.left
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 71.451 29.503">
      <path d="M269.536,2638.7H199l18.433-28.733" transform="translate(-198.085 -2609.7)" fill="none" stroke="#{color}" stroke-width="1"/>
    </svg>