mixin balloon(color)
  .balloon01
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 182.499 152.169">
      <path d="M128.076,134.433a114.664,114.664,0,0,1-36.827,5.951C40.854,140.384,0,108.958,0,70.192S40.854,0,91.249,0,182.5,31.426,182.5,70.192c0,24.243-15.974,45.614-40.271,58.225,3.877,9.238,9.018,18.412,15.185,22.429,1.4.911,1.963,1.323,1.839,1.323C158.68,152.167,143.438,143.377,128.076,134.433Z" fill="#{color}"/>
    </svg>
    block