mixin vote-button-box
  .vote-button.box
    +icon-box('white')
    span 投票する
    +arrow-right('white')

mixin vote-button-instagram
  .vote-button.instagram
    +icon-instagram('white')
    span instagramで
      br
      | 投票する
    +arrow-right('white')