section.sponsor
  h2.visibility-hidden スポンサー
  .first
    span 特別協賛
    .images
      span.visibility-hidden Egg Design
      .egg-design(style=`background-image: url(${image_path}bnr_egg-design.png)`)
  .second
    span 協賛
    .images
      span.visibility-hidden SoftBank
      .softbank(style=`background-image: url(${image_path}bnr_softbank.png)`)
      span.visibility-hidden Nike
      .nike(style=`background-image: url(${image_path}bnr_nike.png)`)
      span.visibility-hidden ABC-MART
      .abc-mart(style=`background-image: url(${image_path}bnr_abc-mart.png)`)

footer
  a.contact(href="#") contact
  small.copy-right ©︎illustrator championship