extends _layout
include _components

block contents
  .wrapper
    include _header
    //- +icon-instagram('red', '#')
    //- +icon-twitter('blue', '#')
    //- +icon-box('black')
    //- +balloon('#FAF2F2')
    //-   span ステッカー
    //-     br
    //-     | プレゼント！

    //- +special-guest-block('right')

    //- +heading('Illustrators', 'イラストレーター紹介', 'left')

    include _footer