.goto-top {
  .arrow-top {
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    width: 14px;
    height: 14px;
    border-style: solid;
    border-width: 0 7px 12px 7px;
    border-color: transparent transparent $basic-red transparent;
  }
  &::after {
    position: absolute;
    margin: auto;
    content: 'top';
    font-size: 22px;
    line-height: 33px;
    top: 0;
    left: 13px;
    color: $basic-red;
  }
}