.heading-wrapper {
  text-align: center;
  .heading {
    display: inline-block;
    // flex-direction: column;
    // align-items: center;
    span {
      color: $basic-red;
      font-size: 65px;
      line-height: 104px;
      letter-spacing: 2px;
    }
    h1 {
      width: 100%;
      font-size: 20px;
      line-height: 25px;
      font-weight: lighter;
    }
  }
}